/DemoJspXml/nbproject/private/
/DemoJspXml/build/
/FinalDemoXml/nbproject/private/
/FinalDemoXml/build/
/FinalDemoXml/dist/
/Test/nbproject/private/
/Test/build/
/EzCo/build/
/EzCoDraftVer2/build/
/ServletAndThread/nbproject/private/
/ServletAndThread/build/
/JPA_XML/nbproject/private/
/DemoJPA/nbproject/private/
/DemoJPA/build/
/DemoJPA/dist/
/EzCo/dist/
/JPA_Client/nbproject/private/
/DemoJPAService/nbproject/private/
/DemoJPAService/build/
/DemoJPAService/dist/
/EzCo_JPA_Client/nbproject/private/
/EzCo_JPA_Client/build/
/XML_Live_Search/nbproject/private/
/XML_Live_Search/build/