<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>duongpth.controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientCrawlerController</servlet-name>
        <servlet-class>duongpth.controllers.IngredientCrawlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>duongpth.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientInfoController</servlet-name>
        <servlet-class>duongpth.controllers.IngredientInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipeCrawlerController</servlet-name>
        <servlet-class>duongpth.controllers.RecipeCrawlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipeDetailController</servlet-name>
        <servlet-class>duongpth.controllers.RecipeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipeBasicSearchController</servlet-name>
        <servlet-class>duongpth.controllers.RecipeBasicSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>duongpth.controllers.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipeAdvanceSearchController</servlet-name>
        <servlet-class>duongpth.controllers.RecipeAdvanceSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPdfController</servlet-name>
        <servlet-class>duongpth.controllers.PrintPdfController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientAdvanceInfoController</servlet-name>
        <servlet-class>duongpth.controllers.IngredientAdvanceInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientCrawlerController</servlet-name>
        <url-pattern>/IngredientCrawlerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientInfoController</servlet-name>
        <url-pattern>/IngredientInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeCrawlerController</servlet-name>
        <url-pattern>/RecipeCrawlerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeDetailController</servlet-name>
        <url-pattern>/RecipeDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeBasicSearchController</servlet-name>
        <url-pattern>/RecipeBasicSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeAdvanceSearchController</servlet-name>
        <url-pattern>/RecipeAdvanceSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPdfController</servlet-name>
        <url-pattern>/PrintPdfController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientAdvanceInfoController</servlet-name>
        <url-pattern>/IngredientAdvanceInfoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>AdminController</welcome-file>
    </welcome-file-list>
</web-app>
