USE [master]
GO
/****** Object:  Database [Movie]    Script Date: 11/14/2018 12:39:17 ******/
CREATE DATABASE [Movie] ON  PRIMARY 
( NAME = N'Movie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Movie.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Movie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Movie_log.ldf' , SIZE = 7616KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movie]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/14/2018 12:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](50) NULL,
	[password] [nchar](50) NULL,
	[name] [nvarchar](200) NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([id], [username], [password], [name], [role]) VALUES (1, N'nvhung                                            ', N'123456                                            ', N'Nguyễn Việt Hùng', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Theater]    Script Date: 11/14/2018 12:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theater](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[logo] [nvarchar](100) NULL,
	[information] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Theater] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Theater] ON
INSERT [dbo].[Theater] ([id], [name], [logo], [information]) VALUES (8, N'CGV', NULL, NULL)
INSERT [dbo].[Theater] ([id], [name], [logo], [information]) VALUES (9, N'Lotte Cinema', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Theater] OFF
/****** Object:  Table [dbo].[Movie]    Script Date: 11/14/2018 12:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[VietnameseName] [nvarchar](200) NULL,
	[EnglishName] [nvarchar](200) NULL,
	[description] [nvarchar](3000) NULL,
	[duration] [int] NULL,
	[director] [nvarchar](200) NULL,
	[stars] [nvarchar](250) NULL,
	[category] [nvarchar](250) NULL,
	[languages] [nvarchar](300) NULL,
	[type] [nvarchar](300) NULL,
	[imageUrl] [nvarchar](300) NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movie] ON
SET IDENTITY_INSERT [dbo].[Movie] OFF
/****** Object:  Table [dbo].[Department]    Script Date: 11/14/2018 12:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[normalizedName] [nvarchar](200) NULL,
	[address] [nvarchar](1000) NULL,
	[theaterId] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON
INSERT [dbo].[Department] ([id], [name], [normalizedName], [address], [theaterId]) VALUES (313, N'CGV Hùng Vương Plaza', N'cgv hung vuong plaza', N'10.7560898;106.6630254;Parkson Hung Vuong Plaza, 126 Đường Hùng Vương, Phường 12, Quận 5, Hồ Chí Minh, Vietnam', 8)
INSERT [dbo].[Department] ([id], [name], [normalizedName], [address], [theaterId]) VALUES (314, N'CGV CT Plaza', N'cgv ct plaza', N'10.8132480;106.6658153;CT Plaza, 60A Trường Sơn, Phường 2, Tân Bình, Hồ Chí Minh, Vietnam', 8)
INSERT [dbo].[Department] ([id], [name], [normalizedName], [address], [theaterId]) VALUES (315, N'CGV Crescent Mall', N'cgv crescent mall', N'10.7287873;106.7188121;101 Tôn Dật Tiên, Tân Phú, Quận 7, Hồ Chí Minh, Vietnam', 8)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Department] OFF
/****** Object:  Table [dbo].[MovieSchedule]    Script Date: 11/14/2018 12:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieSchedule](
	[movieId] [int] NOT NULL,
	[departmentId] [int] NOT NULL,
	[date] [date] NOT NULL,
	[showingTimeList] [nvarchar](2000) NULL,
	[bookingUrl] [nvarchar](300) NULL,
 CONSTRAINT [PK_MovieSchedule] PRIMARY KEY CLUSTERED 
(
	[movieId] ASC,
	[departmentId] ASC,
	[date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MovieSchedule] ([movieId], [departmentId], [date], [showingTimeList], [bookingUrl]) VALUES (74, 313, CAST(0xF33E0B00 AS Date), N'13:40,15:50,18:00,20:10', N'https://www.cgv.vn/default/the-grinch.html')
INSERT [dbo].[MovieSchedule] ([movieId], [departmentId], [date], [showingTimeList], [bookingUrl]) VALUES (74, 313, CAST(0xF43E0B00 AS Date), N'08:40,09:20,13:40,18:00', N'https://www.cgv.vn/default/the-grinch.html')
INSERT [dbo].[MovieSchedule] ([movieId], [departmentId], [date], [showingTimeList], [bookingUrl]) VALUES (74, 313, CAST(0xF53E0B00 AS Date), N'09:20,17:50,19:50', N'https://www.cgv.vn/default/the-grinch.html')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
/****** Object:  ForeignKey [FK_Department_Theater]    Script Date: 11/14/2018 12:39:18 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Theater] FOREIGN KEY([theaterId])
REFERENCES [dbo].[Theater] ([id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Theater]
GO
/****** Object:  ForeignKey [FK_MovieSchedule_Department]    Script Date: 11/14/2018 12:39:18 ******/
ALTER TABLE [dbo].[MovieSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MovieSchedule_Department] FOREIGN KEY([departmentId])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[MovieSchedule] CHECK CONSTRAINT [FK_MovieSchedule_Department]
GO
/****** Object:  ForeignKey [FK_MovieSchedule_Movie]    Script Date: 11/14/2018 12:39:18 ******/
ALTER TABLE [dbo].[MovieSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MovieSchedule_Movie] FOREIGN KEY([movieId])
REFERENCES [dbo].[Movie] ([id])
GO
ALTER TABLE [dbo].[MovieSchedule] CHECK CONSTRAINT [FK_MovieSchedule_Movie]
GO
